<%= form_for(@team, html: {multipart: true}) do |f| %>

  <%= f.label(:title, "Team Title:")%>
  <%= f.text_field(:title)%><br>

  <% User.all.each do |user| %>
      <li>
        <%= check_box_tag 'user_ids[]', user.id %>
        <%= user.name %>
      </li>
  <% end %>

  <br><br>
  <%= f.submit%>

<% end %>