<!DOCTYPE html>
<html>
<head>
  <title>Lazi-Projects Inc</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <pre>
    <%= params%>
  </pre>
  <%= link_to "See all projects", projects_url %>
  <%= link_to "See all teams", teams_url %>
  <%= link_to "See all users", users_url %>


  <h1>Lazi-Projects Inc</h1>
  <h4>Incorporation Pending</h4>

<%= yield %>

</body>
</html>
